* {
    padding: 0;
    border: 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: 'Times New Roman', Times, serif;
    outline: 1px solid red; 
}

body { 
    display: flex; 
}

#input-area { 
    color: white; 
    background-color: #1e40af; 
    min-height: 100vh; 
}

label, .addTask { 
    font-size: 1rem;
    display: flex; 
    flex-direction:column; 
    margin: 1em 0.5em; 
}

input, select, textarea {        
    font-size: 1rem; 
    padding: 0.25em; 
    border: 0.05em solid black; 
    margin-top: 1em; 
}

.addTask { 
    text-align: center;
    width: 92%;
    padding: 1em; 
}